@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background: #353433;
 font-family: 'Poppins', sans-serif;
 color: #fff;
 font-size: 1rem;
}

main {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  grid-template:
  "form form" 60px
  "aside table" 1fr
  "footer footer" 20px
  / 12px 1fr;
}

header {
  width: 100%;
}

form {
  grid-area:form;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 4px;
  background: #d2702b;
  padding: 20px;
  margin-bottom: .7rem;
  margin-left: 12px;
  border-radius: 10px;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 0.1rem;
}

table {
  grid-area: table;
  width: 450px;
  height: 450px;  
  border-collapse: collapse;
  border: 3px solid #fff;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 12px;
}

tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) {
  background: #8c9440;
}

td {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 1px solid white;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background: #f6ebd4;
}

input {
  padding: 6px 5px;
  background: #d89566;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

::-webkit-input-placeholder {
  color: #fff;
}

button {
 font-family: 'Poppins', sans-serif;
 background: #f6ebd4;
 border: none;
 border-radius: 3px;
 padding: 4px 10px;
 cursor: pointer;
}

.position-box input{
  max-width: 50px;
  border: 1px solid grey;
  border-radius: 2px;
}

@media(max-width: 560px) {
  table {
    width: 350px;
    height: 350px;
  }
}

@media(max-width: 440px) {

  body {
    font-size: .7rem;
  }
  main {
    grid-template:
    "form form" 40px
    "aside table" 1fr
    "footer footer" 20px
  }
  table {
    width: 300px;
    height: 300px;
  }
  form {
    width: 28px;
    gap: 4px;
    background: #d2702b;
    padding: 7px;
    margin-bottom: .3rem;
    margin-left: 12px;
    border-radius: 5px;
  }
  button {
    font-size: .7rem;
   }
   input {
    padding: 3px 5px;
  }
   ::-webkit-input-placeholder {
    font-size: .7rem;
  }
}